

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0b90b;
    color: #414141;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    font-weight: 800;
}

button:hover {
    background-color: #d99e0b;
}

img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}