body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529;
    color: #fff;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: #212529;
    color: #fff;
}

input[type="text"]:focus {
    outline: none;
    border-color: #d99e0b;
}

button[type="submit"] {
    background-color: #d99e0b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #c18700;
}