{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Article Details</title>
<link rel="stylesheet" href="{% static 'css/article_details.css'%}">
</head>
<body>
  {% include 'navbar.html' %}
  <main class="container" style="margin-top: 20px;">
    <article class="article-details">
      <h2>{{ article.3 }}</h2>
      <div class="article-meta">
        <span class="author">{{ article.2 }}</span>
        <span class="created-date"> - {{ article.5 }}</span>
      </div>
      <p class="article-content">{{ article.4 }}</p>
      {% if article.1 == address %}   
        <div class="btns">
          <a href="{% url 'update' id=article.0 %}"><button class="update-btn">Update</button></a>
          <form action="{% url 'delete'%}" method="post">
            {% csrf_token %}
            <button class="delete-btn" name="delete">Delete</button>
            <input type="hidden" name="article_id" value="{{article.0}}">
          </form>
        </div>
      {% endif %}
    </article>
  </main>
</body>
</html>
