{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <title>create article</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <form action="" method="post" class="create_form">
            {% csrf_token %}
            {{ create_form }}
            <button type="submit" class="create">Create</button>
        </form>
    </div>
</body>
</html>