{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <title>Create Article</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <form action="" method="post" class="create_form">
            <!-- {% if create_form.errors %}
                <h1>{{create_form.errors}}</h1>
            {% endif %} -->
            {% csrf_token %}
            <!-- {{ create_form }} -->
            {% for field in create_form %}
                <label>{{field.label}}</label>
                {{field}}
                {% if field.errors %}    
                    <div class="form-error">
                        {{field.errors.as_text}}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="create">Create</button>
        </form>
    </div>
</body>
</html>