{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
  <div style="background-color: #1A1E22;">
    <nav class="navbar container">
        <a href="#" class="logo">DevChain</a>
        <ul class="nav-list">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'create' %}">Articles</a></li>
            <li><a href="{% url 'create' %}">Create</a></li>
        </ul>
        <div class="user-info">
          <span class="username">{{ name }}</span>
          <button type="button" class="logout-btn">Logout</button>
        </div>
      </nav>
  </div>


</body>
</html>
