{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Articles</title>
</head>
<body>
    {% include "navbar.html" %}
    {% if articles %}
        <div class="container" style="margin-top: 20px;">
        {% for article in articles %}
                <a href="{% url 'article details' id=article.0 %}">
                    <article class="article-box">
                        <h2 class="article-title">{{ article.3 }}</h2>
                        <p class="article-content">{{ article.4 }}</p>
                        <div class="article-meta">
                            <span class="author">By: {{ article.2 }}</span>
                            <span class="created-date"> - Created: {{ article.5 }}</span>
                        </div>
                        <div class="btns">
                            <a href="{% url 'update' id=article.0 %}"><button class="update-btn">Update</button></a>
                            <form action="{% url 'delete'%}" method="post">
                                {% csrf_token %}
                                <button class="delete-btn" name="delete">Delete</button>
                                <input type="hidden" name="article_id" value="{{article.0}}">
                            </form>
                        </div>
                    </article>
                </a>
        {% endfor %}
        </div>
    {% else %}
        <div class="error-page">
            <h1>No Articles</h1>
            <a href="{% url 'create' %}" class="go-back-btn">Create</a>
        </div>
    {% endif %}
</body>
</html>